.app.dark {
  --bg-color: #1a0b2c;
  --inverted-bg-color: #ffffff;

  --primary-color: #108a6e;
  --secondory-color: #37936d;
  --inverted-primary-color: #1866d5;
  --inverted-secondory-color: #0089d2;
}