.app.dark {
  --bg-color: rgba(5, 58, 157, 0.91);
  --inverted-bg-color: #ffffff;

  --primary-color: #108a6e;
  --secondory-color: #37936d;
  --inverted-primary-color: #050000;
  --inverted-secondory-color: #0089d2;
}