:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #32157e;
    --primary-color: #4277ea;
    --secondary-color: #0449e0;
    --inverted-primary-color: #799679;
    --inverted-secondary-color: #049604;
}
