.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: rgba(5, 58, 157, 0.91);

  --primary-color: #050000;
  --secondory-color: #0089d2;
  --inverted-primary-color: #108a6e;
  --inverted-secondory-color: #37936d;
}